[user]
    name = ym
    email = ym@qq.com
[color]
    diff = auto
[alias]
    r = reset --hard
    b = branch
    s = status
    c = checkout
    m = merge
    cg = config --global
    cm = commit --no-verify -am
    cmm = commit --no-verify -am 'quick commit -am'
    pusho = push origin
    pullo = pull origin
    pusha = push --all
    pulla = pull --all
    clone-git = clone git@git.oschina.net:ymdesign/git-hello-world
    rc = git rm -r --cached